.cardUser{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50%;
    
}

.opcoes{
    text-decoration: none;
}

#opcoesUser{
    text-decoration: none;
    color: black;
}

#opcoesUser:hover{
    color: grey;
    text-decoration: underline;
}