@font-face {
    font-family: 'deGang';
    src: url('../fonte/BlackBoard.ttf')
    format('truetype');
  }


.tituloProduto{
    font-family: 'deGang';
    margin-top: 35px;
}

@media screen and (min-width: 500px) {
  #card-img{
    margin: auto;
  }
}

