@font-face {
  font-family: 'deGang';
  src: url('../fonte/BlackBoard.ttf')
  format('truetype');
}


#Nomemarca {
  padding: 5px;
  font-family: 'deGang';
  font-size: 30px; 
}

  @media (max-width:500px) {
    #Nomemarca{
      font-size: 25px;
    }
    
  }

