@font-face {
  font-family: 'deGang';
  src: url('../fonte/benzin-bold.ttf')
  format('truetype');
}


#Nomemarca{
  font-family: 'deGang';
  font-size: 35px;
}

#menuLateral{
  font-family: 'deGang';
  font-weight: bold;
  
  
}

#navLink{
  text-decoration: none;
  color: black;
  padding-bottom: 35px;
}

#navLink:hover{
  color:rgb(96, 96, 96)
}

.subMarca{
  font-size: 10px;
}
  @media screen and (max-width:500px) {
    #Nomemarca, .subMarca {
      font-size: 25px;
    }

    #navBar{
     width: 10%;
    }



  }

