.container-register{
    margin: auto;
    width: 70%;
}

.btns-subbmit{
    width: 100%;
}

#btnRegister{
    width: 90%;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;


}

#btnRegister:hover{
    background-color: grey;
    color: white;
}